body{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/250/346/570/daft-punk-random-access-memories-music-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
